<html>

<head>
	<title>AniCode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/github-markdown.css">
	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}
	</style>
</head>

<body>
	<article class="markdown-body">
		<h2 style="text-align: center">AniCode: Authoring Coded Artifacts for Network-Free Personalized Animations</h2>
		<p style="text-align: center">Zeyu Wang*, Shiyu Qiu*, Qingyang Chen, Natallia Trayan, Alexander Ringlein, Julie
			Dorsey, Holly Rushmeier</p>
		<p style="text-align: center">The Visual Computer, 2019</p>
		<iframe width="800" height="450" src="https://www.youtube.com/embed/qqzOLu47alw" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
			style="display: block; margin: auto"></iframe>
		<h3>To use the online demo of AniCode, please follow the steps below:</h3>
		<ol>
			<li>Print a <a href="reference" target="_blank">reference QR code</a> and put it on an object or in a scene with
				which you would like to author an animation.</li>
			<li>Take a picture of the object or scene and upload it to our <a href="upload" target="_blank">authoring
					interface</a>. Apply animation schemes and generate an authored QR code.</li>
			<li>Print the authored QR code and overlay it on the reference QR code. Use our <a
					href="static/client_application.apk">client-side mobile application</a> (Android) to view the authored
				animation.</li>
		</ol>
		<h3>Please refer to our <a
				href="https://www.researchgate.net/publication/332972892_AniCode_Authoring_Coded_Artifacts_for_Network-Free_Personalized_Animations">paper</a>
			for more details.</h3>
	</article>
</body>

</html>