<html>

<head>
	<title>AniCode - upload your image</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/github-markdown.css">
	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}
	</style>
</head>

<body>
	<article class="markdown-body">
		<h2>Please print this reference QR code</h2>
		<p>Note that you can adjust its physical size by scaling this page in print settings. The reference QR code should
			take up a reasonable portion in your picture so it is detectable.</p>
		<p>Cut it out along the black border and stick it on an object. If you are going to author an animation in a scene,
			stick the reference QR code to a place where its relative position to other parts in the scene does not change.
		</p>
		<img src="static/reference.png" style="width: 450px; height: 450px; display: block; margin: auto; border: solid black 1px">
	</article>
</body>

</html>